$body-font-b: rgb(255, 255, 255);
$body-container-b: rgb(26, 23, 44);
$btn-hover-b: rgb(212, 226, 240);

// Menu
$menu-background-b: rgb(57, 63, 80);
$menu-btn-border-b: rgb(188, 240, 228);
$menu-btn-disabled-b: rgb(80, 146, 131);
$menu-span-b: rgba(81, 255, 255, 0.6);
$menu-span-warn-b: rgba(255, 131, 255, 0.6);

$title-b: rgb(213, 255, 235);
$sub-title-b: rgb(233, 230, 252);
$menu-title-b: rgb(233, 230, 252);

//header
$header-border-b: rgb(233, 230, 252);

// newTask
$input-border-b: rgb(118, 172, 159);
$input-button-submit-b: rgb(213, 255, 235);
$input-button-reset-b: rgb(233, 230, 252);

//modal
$modal-mask-b: rgba(44, 39, 59, 0.6);
$modal-background-b: rgb(57, 63, 80);

//th
$th-background-b: rgb(79, 109, 136);
$th-background-hover-b: rgb(52, 70, 85);
$th-text-b: rgb(255, 255, 255);
$th-border-b: rgba(209, 230, 225, 0.39);
$arrow-b: rgba(255, 255, 255, 0.5);

//td
$tr-hover-b: rgb(70, 77, 97);
$completed-b: rgb(122, 122, 122);
$completed-hover-b: rgb(138, 138, 138);
$passed-b: rgb(104, 0, 86);
$passed-hover-b: rgb(122, 0, 102);
$priority-low-b: rgb(151, 255, 229);
$priority-mid-b: rgb(255, 251, 199);
$priority-high-b: rgb(255, 169, 222);

//checkbox colors
$check-stroke-b: rgb(98, 168, 168);
$check-fill-b: rgb(255, 255, 255);
$uncheck-stroke-b: rgb(243, 197, 243);
$uncheck-fill-b: rgb(84, 101, 116);

//logo
$bottle-b: rgb(212, 252, 240);
$bottle-shadow-b: rgb(126, 114, 190);
$task-high-b: rgb(246, 175, 255);
$task-mid-b: rgb(255, 251, 198);
$task-low-b: rgb(168, 242, 255);
