$body-font: rgb(34, 34, 34);

$body-container: rgb(255, 252, 247);

// Menu
$menu-background: rgb(248, 241, 253);
$menu-btn-border: rgb(224, 200, 224);
$menu-btn-hover: rgb(228, 212, 240);
$menu-btn-disabled: rgb(202, 202, 202);
$menu-span: rgba(153, 50, 204, 0.6);
$menu-span-warn: rgba(255, 0, 0, 0.4);

$title: rgb(46, 3, 37);
$sub-title: rgb(90, 19, 31);
$menu-title: rgb(92, 29, 29);

//header
$header-border: rgb(69, 43, 77);
$header-lang-border: rgb(0, 0, 0);
$header-lang-hover: rgb(151, 54, 161);

// newTask
$input-border: rgb(255, 192, 203);
$input-button-submit: rgb(208, 254, 255);
$input-button-reset: rgb(248, 247, 155);

//modal
$modal-mask: rgba(113, 168, 168, 0.6);
$modal-background: rgb(255, 248, 234);

//th
$th-background: rgb(116, 45, 45);
$th-background-hover: rgb(161, 86, 86);
$th-text: rgb(255, 255, 255);
$th-border: rgb(221, 221, 221);
$arrow: rgba(255, 255, 255, 0.5);

//td
$td-btn-hover: rgb(220, 193, 255);
$completed: rgb(87, 87, 87);
$passed: rgb(172, 60, 60);
$priority-low: rgb(174, 213, 219);
$priority-mid: rgb(219, 216, 174);
$priority-high: rgb(253, 200, 200);
$completed-hover: rgb(58, 58, 58);
$completed-hover-text: white;
$passed-hover: rgb(187, 18, 18);
$priority-low-hover: rgb(127, 206, 218);
$priority-mid-hover: rgb(250, 242, 135);
$priority-high-hover: rgb(243, 152, 152);

$check-stroke: rgb(96, 29, 110);
$check-fill: rgb(133, 133, 163);
$uncheck-stroke: rgb(109, 118, 197);
$uncheck-fill: rgb(192, 192, 168);
