$body-font-a: rgb(34, 34, 34);
$body-container-a: rgb(255, 254, 251);
$btn-hover-a: rgb(228, 212, 240);

// Menu
$menu-background-a: rgb(255, 245, 245);
$menu-btn-border-a: rgb(235, 197, 235);
$menu-btn-disabled-a: rgb(205, 170, 219);
$menu-span-a: rgba(158, 54, 161, 0.6);
$menu-span-warn-a: rgba(255, 0, 0, 0.4);

$title-a: rgb(77, 28, 83);
$sub-title-a: rgb(149, 122, 153);
$menu-title-a: rgb(77, 28, 83);

//header
$header-border-a: rgb(77, 28, 83);

// newTask
$input-border-a: rgb(235, 197, 235);
$input-button-submit-a: rgb(240, 212, 240);
$input-button-reset-a: rgb(255, 245, 245);

//modal
$modal-mask-a: rgba(59, 39, 49, 0.5);
$modal-background-a: rgb(255, 251, 244);

//th
$th-background-a: rgb(77, 28, 83);
$th-background-hover-a: rgb(91, 25, 100);
$th-text-a: rgb(255, 255, 255);
$th-border-a: rgb(236, 220, 236);
$arrow-a: rgba(255, 255, 255, 0.5);

//td
$tr-hover-a: rgb(255, 241, 241);
$completed-a: rgb(223, 223, 223);
$completed-hover-a: rgb(219, 219, 219);
$passed-a: rgb(255, 200, 200);
$passed-hover-a: rgb(255, 193, 193);
$passed-text-a: rgb(160, 11, 11);
$priority-low-a: rgb(218, 241, 245);
$priority-mid-a: rgb(255, 252, 205);
$priority-high-a: rgb(255, 188, 158);

//checkbox colors
$check-stroke-a: rgb(77, 28, 83);
$check-fill-a: rgb(249, 241, 253);
$uncheck-stroke-a: rgb(235, 197, 235);
$uncheck-fill-a: rgb(255, 255, 255);

//logo
$bottle-a: rgb(77, 28, 83);
$bottle-shadow-a: rgb(106, 52, 177);
$task-high-a: rgb(255, 191, 175);
$task-mid-a: rgb(255, 248, 155);
$task-low-a: rgb(199, 240, 247);
