$body-font-c: rgb(34, 34, 34);
$body-container-c: rgb(255, 250, 244);
$btn-hover-c: rgb(212, 147, 86);

// Menu
$menu-background-c: rgb(226, 215, 205);
$menu-btn-border-c: rgb(150, 192, 206);
$menu-btn-disabled-c: rgb(123, 172, 189);
$menu-span-c: rgb(60, 149, 179);
$menu-span-warn-c: rgb(255, 0, 0);

$title-c: rgb(82, 85, 100);
$sub-title-c: rgb(116, 130, 143);
$menu-title-c: rgb(82, 85, 100);

//header
$header-border-c: rgb(82, 85, 100);

// newTask
$input-border-c: rgb(150, 192, 206);
$input-button-submit-c: rgb(123, 172, 189);
$input-button-reset-c: rgb(226, 215, 205);
$input-button-noSubmit-c: rgb(212, 238, 247);

//modal
$modal-mask-c: rgba(14, 63, 80, 0.6);
$modal-background-c: rgb(255, 251, 244);

//th
$th-background-c: rgb(82, 85, 100);
$th-background-hover-c: rgb(63, 66, 78);
$th-text-c: rgb(255, 255, 255);
$th-border-c: rgba(232, 244, 255, 0.5);
$arrow-c: rgba(255, 255, 255, 0.5);

//td
$tr-c: rgb(243, 243, 243);
$tr-hover-c: rgb(236, 225, 215);
$completed-c: rgb(243, 243, 243);
$completed-hover-c: rgb(248, 248, 248);
$passed-c: rgb(252, 193, 193);
$passed-hover-c: rgb(255, 212, 212);
$priority-low-c: rgb(134, 181, 197);
$priority-mid-c: rgb(245, 242, 147);
$priority-high-c: rgb(235, 79, 70);

//checkbox colors
$check-stroke-c: rgb(238, 215, 194);
$check-fill-c: rgb(116, 130, 143);
$uncheck-stroke-c: rgb(123, 172, 189);
$uncheck-fill-c: rgb(255, 255, 255);

//pencil X colors
$pencil-c: rgb(82, 85, 100);

//logo
$bottle-c: rgb(116, 130, 143);
$bottle-shadow-c: rgb(31, 52, 54);
$task-high-c: rgb(185, 42, 42);
$task-mid-c: rgb(255, 250, 110);
$task-low-c: rgb(168, 193, 204);

$icon-color-c: rgb(60, 149, 179);
