.addNewTask {
  form {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  label {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .grow {
    flex-grow: 1;
  }
  .formPaddingRight {
    padding-right: 8px;
  }
  .priorityButtons {
    margin-top: 3px;
    min-width: 132px;
  }
  input[type="submit"],
  input[type="reset"] {
    width: 80px;
    height: 30px;
    border-radius: 7px;
    margin-bottom: 2px;
  }
  .resetSubmitInput {
    display: flex;
    min-width: 100px;
    min-height: 46px;
    align-items: flex-end;
  }
}
