.modalMask {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  animation-name: modalOpen;
  animation-duration: 0.5s;

  .modal {
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    position: absolute;
    left: calc(50% - 150px);
    top: 50%;
    margin-top: -190px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
    animation-name: modalScale;
    animation-duration: 0.5s;
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  h2 {
    font-size: 20px;
  }
  .xButton {
    padding: 0;
  }
  form > div {
    margin-top: 15px;
  }
  label {
    font-size: 14px;
  }

  input[type="date"] {
    padding: 7.5px;
    width: 100%;
  }
  .btnContainer {
    display: flex;
  }
  input[type="submit"],
  input[type="reset"] {
    flex-grow: 2;
    height: 37px;
    font-size: 14px;
  }

  @keyframes modalOpen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes modalScale {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }
}
