.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 2px;

  h1 {
    font-size: 25px;
    font-family: "Berkshire Swash", cursive;
  }
  .btnContainer {
    margin: 3px;
    min-width: 139px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .registerButtons {
      display: flex;
      justify-content: flex-end;
    }
  }
  .borderLeft {
    border-left-width: 1px;
    border-left-style: solid;
  }
  .marginLeft {
    margin-left: 5px;
  }
  button {
    transition: color 0.5s;
    &:hover {
      background-color: transparent;
    }
  }
}
