.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 2px;

  h1 {
    font-size: 25px;
    font-family: "Berkshire Swash", cursive;
  }
  .btnContainer {
    margin: 3px;
    min-width: 122px;
  }
  .borderLeft {
    border-left-width: 1px;
    border-left-style: solid;
  }
  button {
    transition: color 0.5s;
    &:hover {
      background-color: transparent;
    }
  }
}
