.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  border-bottom: 2px solid $header-border;

  h1 {
    font-size: 25px;
    font-family: "Berkshire Swash", cursive;
  }
  .btnContainer {
    margin: 3px;
    min-width: 122px;
  }
  .borderLeft {
    border-left: 1px solid $header-lang-border;
  }
  button:hover {
    color: $header-lang-hover;
  }
}
