.legend {
  margin: 10px 0;
  display: flex;
}
.legendColumn {
  margin: 0 20px 0 10px;
  .legendKey {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;

    .box {
      width: 11px;
      height: 11px;
      margin-right: 3px;
      border-width: 1px;
      border-style: solid;
    }
    .circle {
      border-radius: 50%;
    }
  }
}
.textFilterContainer {
  display: flex;
  flex-grow: 1;
}
input[name="text-filter"] {
  margin-right: 5px;
}
