.legend {
  display: flex;
  margin: 15px 0 5px;
  flex-wrap: wrap;

  .legendKey {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;

    .box {
      width: 11px;
      height: 11px;
      margin-right: 3px;
      border-width: 1px;
      border-style: solid;
    }
    .circle {
      border-radius: 50%;
    }
  }
  .spacing {
    margin-right: 20px;
  }
}
