.menu {
  width: 200px;
  text-align: center;
  min-height: 100vh;

  button {
    display: block;
    margin: 5px auto;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
  }
  .logoContainer {
    margin-top: 20px;
    padding: 5px 15px;
  }
  h1 {
    font-size: 29px;
    font-family: "Sedgwick Ave Display", cursive;
  }
  h2 {
    font-size: 22px;
    font-family: "Berkshire Swash", cursive;
  }
  .statusContainer {
    display: flex;
    justify-content: center;
  }
  .status {
    margin-top: 20px;
    font-size: 18px;
    h3 {
      font-size: 17px;
      margin-top: 5px;
    }
    p {
      font-weight: 900;
    }
  }
  h4 {
    margin-top: 20px;
    font-size: 16px;
  }
  .linksContainer {
    margin-top: 10px;
  }
  .credit {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .socialLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    width: 140px;
    margin: 20px auto 0;
    padding: 5px;
    cursor: pointer;
  }
  .logo {
    width: 100px;
    margin: 0 auto;
    svg {
      .shadow {
        fill: url(#linear-gradient);
      }
      .task,
      .no-fill {
        fill: none;
      }
      .no-fill {
        stroke-width: 3px;
      }
      .cls-2,
      .bottle-line-1,
      .task {
        stroke-miterlimit: 10;
      }
      .bottle-line-1 {
        stroke-linecap: round;
      }
      .bottle-line-2 {
        stroke-linejoin: round;
      }
      .task {
        stroke-width: 8px;
      }
    }
  }
}
