.menu {
  width: 200px;
  background-color: $menu-background;
  text-align: center;
  min-height: 100vh;

  button {
    display: block;
    margin: 5px auto;
    border-radius: 7px;
    background-color: $menu-background;
    border: 1px solid $menu-btn-border;
  }
  button:hover {
    background-color: $menu-btn-hover;
  }
  .logo {
    margin-top: 20px;
    padding: 5px 15px;
  }
  h1 {
    font-size: 29px;
    font-family: "Sedgwick Ave Display", cursive;
    color: $title;
  }
  h2 {
    font-size: 22px;
    font-family: "Berkshire Swash", cursive;
    color: $sub-title;
  }
  .statusContainer {
    display: flex;
    justify-content: center;
  }
  .status {
    margin-top: 20px;
  }
  h3 {
    font-size: 17px;
    position: relative;
    margin: 20px;
    width: 130px;
    text-align: left;
    color: $menu-title;
  }
  span {
    position: absolute;
    bottom: -7px;
    right: 0;
    font-size: 40px;
    color: $menu-span;
  }
  .compMsg {
    font-size: 20px;
  }
  .warning {
    color: $menu-span-warn;
  }
  h4 {
    margin-top: 20px;
    font-size: 16px;
  }
  .links {
    margin-top: 10px;
  }
  .credit {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
