@import "./base/varA";
@import "./base/varB";
@import "./base/varC";

@import "./components/themeA";
@import "./components/themeB";
@import "./components/themeC";

@import "./components/menu";
@import "./components/addNewTask";
@import "./components/editModal";
@import "./components/header";
@import "./components/taskTable";
@import "./components/legend";

@import "./components/svg";
@import "./components/mediaQuery";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif SC", serif;
  font-size: 14px;
}
img {
  width: 100%;
}
input,
button {
  border: none;
  outline: none;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hideMe {
  display: none;
}
.rightAlign {
  text-align: right;
}
button {
  @extend .noselect;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  transition-duration: 0.3s;
  transition-property: filter;
}
button:hover {
  filter: hue-rotate(270deg);
}
button:active {
  transform: translateY(1px);
}
button:disabled {
  cursor: default;
}
.appContainer {
  display: flex;
}
.bodyContainer {
  padding: 30px;
}
.mainBody {
  flex-grow: 1;
}
.tableContainer {
  overflow: auto;
}
.empty {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-right: 25px;
  text-align: center;
}
.emptyText {
  margin-top: 20px;
  margin-left: 25px;
}

input {
  border-width: 1px;
  border-style: solid;
  height: 30px;
}
input[type="text"] {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
input[type="date"],
input[type="email"],
input[type="password"] {
  padding-left: 5px;
  padding-right: 5px;
}
input[type="radio"] {
  height: 1em;
  margin: 5px 2px;
  cursor: pointer;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.iconMarginRight {
  margin-right: 8px;
}
.iconMarginLeft {
  margin-left: 8px;
}
.iconBlock {
  display: block;
  width: 16px;
}
.loginInputContainer {
  display: flex;
  align-items: center;
  height: 37px;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  input[type="text"] {
    height: initial;
    width: initial;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    font-size: 14px;
    flex-grow: 1;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  transition-property: filter;
  transition-duration: 0.3s;
  &:hover {
    filter: hue-rotate(270deg);
  }
  &:active {
    transform: translateY(1px);
  }
}

input[type="button"] {
  min-width: 80px;
  height: 30px;
  border-radius: 7px;
  margin-bottom: 2px;
}

td {
  border-width: 1px;
  border-style: solid;
  padding: 2px 2px;
}
.tdButtonCell {
  padding: 0;
  .tdButtonWrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  button {
    border-radius: 4px;
  }
}

.checkboxContainer {
  cursor: pointer;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.checkIcon {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  margin-bottom: 1px;
  stroke-width: 2;
  stroke-linecap: round;
}
.tableLegend {
  display: flex;
  align-items: center;
}
.mockWarn {
  background-color: rgb(255, 216, 212);
  color: red;
  border-color: aliceblue;
  padding: 7px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
